* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fafafa;
    color: #1a1a1a;
}

.container {
    max-width: 1100px;
    padding: 0 1rem;
    margin: 0 auto;
}

/* Nav background full width */
nav {
  background-color: gainsboro; /* or whatever color fits your brand */
  border-bottom: 1px solid #e5e5e5;
}

/* Center content, flex alignment */
nav .container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styling */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Nav links styling */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem; /* space between links */
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #000;
}

.nav-links a.active {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.hero {
    padding: 4rem 0; /* top and bottom spacing*/ 
}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center; /*Centers the text and makes it look nicer rather than starting left*/
}

.hero h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero p { 
    max-width: 600px; /*Prevents text from stretching too far*/
    font-size: 1.25rem;
    gap: 1.6;
}

.hero-button { 
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.hero-button .btn {
    padding: 0.75rem 1.5rem;
    background-color: #1a73e8;
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.hero-button .btn:hover {
    background-color: #1558b0;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
}

.hero-about {
    max-width: 600px;
    margin-top: 2rem;
}

.skills {
    padding: 6rem 1.5rem;
}

.skills h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.skills li {
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

.skills li:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transform: translateY(-4px);
    cursor: default;
}